<div class="container">

	<h1>NRMLZ</h1>
	<h4>An audio file normalizer.</h4>
	<div>Currently supports .mp3 and .wav files.</div>
	<div>Powered by <a href="http://sox.sourceforge.net/sox.html">SoX</a></div>

	<div class="form-container">

		<%= form_tag({action: :normalize}, multipart: true) do %>
			<label class="btn btn-default">
		  	Select File... <%= file_field_tag 'audio_file', accept: ".mp3,.wav,.caf" %>
		  </label>
			<div class="error-messages"> <%= flash[:error] %> </div> 
			<div class="filename"></div>
			<div class="filesize"></div>
		  <%= submit_tag("Normalize", class: 'submit btn btn-primary') %>
		<% end %>

		<div class="what">
			<a href="http://sound.stackexchange.com/a/25916" target="_blank">
				What is audio normalization?
			</a>
		</div>

		<a href="https://github.com/GregSantulli/NRMLZR" target="_blank">
			<%= image_tag('mark-github', class: 'github')%>
		</a>

		<a href="http://gregsantulli.com">gregsantulli.com</a>

	</div>

</div>
